# NYC Trees

## About

*todo*

## Methodology

### Explore the data

**Resources:**    <small style="float:right">*(hover over the links for a description)*</small>

* Main
  * 2015 Street Tree Census - Tree Data: [*current*](https://data.cityofnewyork.us/d/uvpi-gqnh "Street tree data from the TreesCount! 2015 Street Tree Census, conducted by volunteers and staff organized by NYC Parks & Recreation and partner organizations. Tree data collected includes tree species, diameter and perception of health. Accompanying blockface data is available indicating status of data collection and data release citywide.") | [*original*](https://data.cityofnewyork.us/d/5rq2-4hqu "Page where the provided dataset was retrieved. It lacks in documentation, but the current page is well documented. Both datasets have an equal amount of rows, but the current dataset has a couple of extra columns (45 vs 42).")
  * Data dictionary: [PDF](https://data.cityofnewyork.us/api/views/uvpi-gqnh/files/8705bfd6-993c-40c5-8620-0c81191c7e25?download=true&filename=StreetTreeCensus2015TreesDataDictionary20161102.pdf "Reference document for the provided dataset. It has elaborate descriptions of all column contents.")
* Additional
  * census documentation
  * [1995 Street Tree Census](https://data.cityofnewyork.us/d/kyad-zm4j "Citywide street tree data from the 1995 Street Tree Census, conducted by volunteers organized by NYC Parks & Recreation. Trees were inventoried by address, and were collected from 1995-1996. Data collected includes tree species, diameter, condition.")
  * [2005 Street Tree Census](https://data.cityofnewyork.us/d/29bw-z7pj "Citywide street tree data from the 2005 Street Tree Census, conducted partly by volunteers organized by NYC Parks & Recreation. Trees were inventoried by address, and were collected from 2005-2006. Data collected includes tree species, diameter, condition.")
  * 2015 Street Tree Census - [Blockface Data](https://data.cityofnewyork.us/d/ju3b-rwpy "Blockface data from the TreesCount! 2015 Street Tree Census, conducted by volunteers and staff organized by NYC Parks & Recreation and partner organizations. Blockface data includes tree counts and data collection status by block. Accompanying street tree data is available, indicating tree-level details such as tree species, size and other characteristics.")

### Outline

1. Import data
2. Transform data
3. Export data

## Setup

In [1]:
# Import modules

import pandas as pd

In [7]:
# Configure data input and output parameters

# Input
source_data_path = "./data/data_100000.csv"
number_of_rows_to_read = 1000  # Set to None to read all rows

# Output
output_data_path = "./data/data_mvp.csv"

## 1. Import data

### 1.1 Read some rows

In [8]:
# Get the datafile into a dataframe

df = pd.read_csv(filepath_or_buffer = source_data_path, 
                 nrows = number_of_rows_to_read)

### 1.2 Inspect

In [9]:
df.shape

(1000, 42)

In [3]:
# Check
df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,08/27/2015,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,09/03/2015,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,09/05/2015,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,09/05/2015,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,08/30/2015,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   created_at  100000 non-null  object
 1   tree_id     100000 non-null  int64
 2   block_id    100000 non-null  int64
 3   the_geom    100000 non-null  object
 4   tree_dbh    100000 non-null  int64
 5   stump_diam  100000 non-null  int64
 6   curb_loc    100000 non-null  object
 7   status      100000 non-null  object
 8   health      95007 non-null   object
 9   spc_latin   95008 non-null   object
 10  spc_common  95008 non-null   object
 11  steward     95008 non-null   object
 12  guards      95008 non-null   object
 13  sidewalk    95008 non-null   object
 14  user_type   100000 non-null  object
 15  problems    95008 non-null   object
 16  root_stone  100000 non-null  object
 17  root_grate  100000 non-null  object
 18  root_other  100000 non-null  object
 19  trnk_wire   100000 non-null  object
 20  trnk_light  100000 non-null  object
 21  trnk_other  100000 non-null  object
 22  brnch_ligh  100000 non-null  object
 23  brnch_shoe  100000 non-null  object
 24  brnch_othe  100000 non-null  object
 25  address     100000 non-null  object
 26  zipcode     100000 non-null  int64
 27  zip_city    100000 non-null  object
 28  cb_num      100000 non-null  int64
 29  borocode    100000 non-null  int64
 30  boroname    100000 non-null  object
 31  cncldist    100000 non-null  int64
 32  st_assem    100000 non-null  int64
 33  st_senate   100000 non-null  int64
 34  nta         100000 non-null  object
 35  nta_name    100000 non-null  object
 36  boro_ct     100000 non-null  int64
 37  state       100000 non-null  object
 38  latitude    100000 non-null  float64
 39  longitude   100000 non-null  float64
 40  x_sp        100000 non-null  float64
 41  y_sp        100000 non-null  float64
dtypes: float64(4), int64(11), object(27)
memory usage: 32.0+ MB

### 1.3 Create dict with column info

*Note: this can be improved given more time.*

In [38]:
column_dict = {}

for column in range(len(df.columns)):
    column_dict[df.dtypes.index[column]] = str(df.dtypes[column])

In [39]:
column_dict

{'created_at': 'object',
 'tree_id': 'int64',
 'block_id': 'int64',
 'the_geom': 'object',
 'tree_dbh': 'int64',
 'stump_diam': 'int64',
 'curb_loc': 'object',
 'status': 'object',
 'health': 'object',
 'spc_latin': 'object',
 'spc_common': 'object',
 'steward': 'object',
 'guards': 'object',
 'sidewalk': 'object',
 'user_type': 'object',
 'problems': 'object',
 'root_stone': 'object',
 'root_grate': 'object',
 'root_other': 'object',
 'trnk_wire': 'object',
 'trnk_light': 'object',
 'trnk_other': 'object',
 'brnch_ligh': 'object',
 'brnch_shoe': 'object',
 'brnch_othe': 'object',
 'address': 'object',
 'zipcode': 'int64',
 'zip_city': 'object',
 'cb_num': 'int64',
 'borocode': 'int64',
 'boroname': 'object',
 'cncldist': 'int64',
 'st_assem': 'int64',
 'st_senate': 'int64',
 'nta': 'object',
 'nta_name': 'object',
 'boro_ct': 'int64',
 'state': 'object',
 'latitude': 'float64',
 'longitude': 'float64',
 'x_sp': 'float64',
 'y_sp': 'float64'}

In [42]:
df.head().T

,0,1,2,3,4
created_at,08/27/2015,09/03/2015,09/05/2015,09/05/2015,08/30/2015
tree_id,180683,200540,204026,204337,189565
block_id,348711,315986,218365,217969,223043
the_geom,POINT (-73.84421521958048 40.723091773924274),POINT (-73.81867945834878 40.79411066708779),POINT (-73.93660770459083 40.717580740099116),POINT (-73.93445615919741 40.713537494833226),POINT (-73.97597938483258 40.66677775537875)
tree_dbh,3,21,3,10,21
stump_diam,0,0,0,0,0
curb_loc,OnCurb,OnCurb,OnCurb,OnCurb,OnCurb
status,Alive,Alive,Alive,Alive,Alive
health,Fair,Fair,Good,Good,Good
spc_latin,Acer rubrum,Quercus palustris,Gleditsia triacanthos var. inermis,Gleditsia triacanthos var. inermis,Tilia americana
spc_common,red maple,pin oak,honeylocust,honeylocust,American linden
steward,None,None,1or2,None,None
guards,None,None,None,None,None
sidewalk,NoDamage,Damage,Damage,Damage,Damage
user_type,TreesCount Staff,TreesCount Staff,Volunteer,Volunteer,Volunteer
problems,None,Stones,None,Stones,Stones
root_stone,No,Yes,No,Yes,Yes
root_grate,No,No,No,No,No
root_other,No,No,No,No,No
trnk_wire,No,No,No,No,No
trnk_light,No,No,No,No,No
trnk_other,No,No,No,No,No
brnch_ligh,No,No,No,No,No
brnch_shoe,No,No,No,No,No
brnch_othe,No,No,No,No,No
address,108-005 70 AVENUE,147-074 7 AVENUE,390 MORGAN AVENUE,1027 GRAND STREET,603 6 STREET
zipcode,11375,11357,11211,11211,11215
zip_city,Forest Hills,Whitestone,Brooklyn,Brooklyn,Brooklyn
cb_num,406,407,301,301,306
borocode,4,4,3,3,3
boroname,Queens,Queens,Brooklyn,Brooklyn,Brooklyn
cncldist,29,19,34,34,39
st_assem,28,27,50,53,44
st_senate,16,11,18,18,21
nta,QN17,QN49,BK90,BK90,BK37
nta_name,Forest Hills,Whitestone,East Williamsburg,East Williamsburg,Park Slope-Gowanus
boro_ct,4073900,4097300,3044900,3044900,3016500
state,New York,New York,New York,New York,New York
latitude,40.723092,40.794111,40.717581,40.713537,40.666778
longitude,-73.844215,-73.818679,-73.936608,-73.934456,-73.975979
x_sp,1027431.14821,1034455.70109,1001822.83131,1002420.35833,990913.775046
y_sp,202756.768749,228644.837379,200716.891267,199244.253136,182202.425999

In [46]:
df.nunique()

created_at      36
tree_id       1000
block_id       697
the_geom      1000
tree_dbh        42
stump_diam       6
curb_loc         2
status           3
health           3
spc_latin       39
spc_common      39
steward          4
guards           4
sidewalk         2
user_type        3
problems        46
root_stone       2
root_grate       2
root_other       2
trnk_wire        2
trnk_light       2
trnk_other       2
brnch_ligh       2
brnch_shoe       2
brnch_othe       2
address        923
zipcode        121
zip_city        32
cb_num          57
borocode         5
boroname         5
cncldist        49
st_assem        60
st_senate       26
nta            124
nta_name       124
boro_ct        358
state            1
latitude      1000
longitude     1000
x_sp          1000
y_sp          1000
dtype: int64

In [ ]:
# columns that need changed dtypes
column_dtype_dict = {
 'tree_id': 'int64',
 'block_id': 'int64',
 'problems': 'object',   # undefined column
 'root_stone': 'object',
 'root_grate': 'object',
 'root_other': 'object',
 'trnk_wire': 'object',
 'trnk_light': 'object',
 'trnk_other': 'object',
 'brnch_ligh': 'object',
 'brnch_shoe': 'object',
 'brnch_othe': 'object',
 'zipcode': 'int64',
 'cb_num': 'int64',
 'borocode': 'int64',
 'cncldist': 'int64',
 'st_assem': 'int64',
 'st_senate': 'int64',
 'boro_ct': 'int64'}

### 1.4 Check for an index candidate

In [50]:
# set a candidate index
candidate_index_column = "tree_id"

# is it unique?
df[candidate_index_column].nunique() == len(df)

True

### 1.5 Check datetime candidates

In [51]:
candidate_datetime = "created_at"

df[candidate_datetime].nunique()

36

### 1.6 Read secondary time

In [55]:
df = pd.read_csv(filepath_or_buffer = source_data_path, 
                 parse_dates={"timestamp" : [candidate_datetime]}, 
                 infer_datetime_format=True, 
                 index_col=candidate_index_column)

In [57]:
df.head()

,timestamp,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
tree_id,,,,,,,,,,,,,,,,,,,,,
180683,2015-08-27,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
200540,2015-09-03,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
204026,2015-09-05,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
204337,2015-09-05,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
189565,2015-08-30,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

## 2. Transform data

### 2.1 Select useful features

In [74]:
# Make a useful selection of columns
select_columns = ["timestamp", "user_type", 
           "boroname", "nta_name",
           "longitude", "latitude", 
           "status", "health", 
           "spc_latin", "spc_common",
           "root_grate", "root_stone", "root_other",
           "trnk_light", "trnk_other", "trnk_wire",
           "brnch_ligh", "brnch_shoe", "brnch_othe"]

select_df = df[select_columns]

In [75]:
select_df = select_df.copy()

In [76]:
select_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 180683 to 277768
Data columns (total 19 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   timestamp   100000 non-null  datetime64[ns]
 1   user_type   100000 non-null  object
 2   boroname    100000 non-null  object
 3   nta_name    100000 non-null  object
 4   longitude   100000 non-null  float64
 5   latitude    100000 non-null  float64
 6   status      100000 non-null  object
 7   health      95007 non-null   object
 8   spc_latin   95008 non-null   object
 9   spc_common  95008 non-null   object
 10  root_grate  100000 non-null  object
 11  root_stone  100000 non-null  object
 12  root_other  100000 non-null  object
 13  trnk_light  100000 non-null  object
 14  trnk_other  100000 non-null  object
 15  trnk_wire   100000 non-null  object
 16  brnch_ligh  100000 non-null  object
 17  brnch_shoe  100000 non-null  object
 18  brnch_othe  100000 non-null  object
dtypes: datetime64[ns](1), float64(2), object(16)
memory usage: 17.3+ MB

### 2.2 Remove the trees without name or status

In [77]:
select_df.dropna(inplace=True)

In [78]:
select_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95007 entries, 180683 to 277768
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   95007 non-null  datetime64[ns]
 1   user_type   95007 non-null  object
 2   boroname    95007 non-null  object
 3   nta_name    95007 non-null  object
 4   longitude   95007 non-null  float64
 5   latitude    95007 non-null  float64
 6   status      95007 non-null  object
 7   health      95007 non-null  object
 8   spc_latin   95007 non-null  object
 9   spc_common  95007 non-null  object
 10  root_grate  95007 non-null  object
 11  root_stone  95007 non-null  object
 12  root_other  95007 non-null  object
 13  trnk_light  95007 non-null  object
 14  trnk_other  95007 non-null  object
 15  trnk_wire   95007 non-null  object
 16  brnch_ligh  95007 non-null  object
 17  brnch_shoe  95007 non-null  object
 18  brnch_othe  95007 non-null  object
dtypes: datetime64[ns](1), float64(2), object(16)
memory usage: 14.5+ MB

### 2.3 Convert the yes no data to boolean values

In [81]:
# create a lambda function to apply
str_to_bool = lambda x: True if str(x) == "Yes" else False

In [89]:
select_df["root_grate"] = select_df["root_grate"].apply(str_to_bool)

In [91]:
select_df["root_stone"] = select_df["root_stone"].apply(str_to_bool)
select_df["root_other"] = select_df["root_other"].apply(str_to_bool)

In [92]:
select_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 95007 entries, 180683 to 277768
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   timestamp   95007 non-null  datetime64[ns]
 1   user_type   95007 non-null  object
 2   boroname    95007 non-null  object
 3   nta_name    95007 non-null  object
 4   longitude   95007 non-null  float64
 5   latitude    95007 non-null  float64
 6   status      95007 non-null  object
 7   health      95007 non-null  object
 8   spc_latin   95007 non-null  object
 9   spc_common  95007 non-null  object
 10  root_grate  95007 non-null  bool
 11  root_stone  95007 non-null  bool
 12  root_other  95007 non-null  bool
 13  trnk_light  95007 non-null  object
 14  trnk_other  95007 non-null  object
 15  trnk_wire   95007 non-null  object
 16  brnch_ligh  95007 non-null  object
 17  brnch_shoe  95007 non-null  object
 18  brnch_othe  95007 non-null  object
dtypes: bool(3), datetime64[ns](1), float64(2), object(13)
memory usage: 12.6+ MB

### 2.4 Calculate extra columns out of booleans

In [94]:
select_df["root_problems"] = select_df["root_grate"] & select_df["root_stone"] & select_df["root_other"]

### 2.5 Rename columns to make them more user readable

*todo*

## 3. Export data

In [96]:
# Save the cleaned dataframe into a datafile

select_df.to_csv("./data/data_first.csv")